.idea
.DS_Store

# JavaScript package
javascript/node_modules

# Ruby gem
ruby/*.gem
ruby/.rspec_status
ruby/coverage

# Python
python/bin
python/lib
python/dist
python/.Python
python/include
python/build
python/*.egg-info
python/*/__pycache__

# Rust crate
target
